/* css variables */
@import url(./partials/variables.css);

/* css variables */
@import url(./partials/global.css);

:target {
    scroll-margin-top: 5rem;
}

body{
    margin:0;
    background: rgba(227,228,219,1) 100%;
    max-width: 100%;
    overflow-x: hidden;
}
a { font-family: 'Rubik', sans-serif;
    font-size : 30pt}

/*HEADER/NAVBAR*/
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.navbar .nav-item .dropdown-menu{
    border-radius: 0px 0px 1rem 1rem;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
    font-family: var(--workSans);
    font-size: 1.5rem;
}

.header_area .main-menu{
    background: var(--headerBackground);
    position: fixed;
    z-index: 999;
    width: 100%;
}
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0;
}

.header_area .main-menu .navbar{
    padding: 0rem 2rem;
}

.header_area .main-menu .nav-link{
    font-family: var(--rubik);
    text-transform: uppercase;
    color:var(--headerText);
    margin:0;   
    padding:1rem;
    padding-left:2rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.header_area .main-menu .navbar-nav .active{
    color:var(--headerTextActive);
}

.header_area .main-menu .navbar-nav a:hover{
    color:var(--headerTextActive);
}

/*END HEADER/NAVBAR*/

/* banner */
.videoBanner{
    position: absolute;
    top:0;
    left: 0;
    object-fit: cover;
    width: 100vw;
     height: 100vh;
     z-index: -1;
}
.videoGradient{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
     height: 100vh;
     z-index: -1;
     background: linear-gradient(180deg, rgba(227,228,219,0) 80%, rgba(227,228,219,1) 100%);
}

.site-main .site-banner{
    height: 100vh;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
    font-size: 2rem;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background-color: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 3.5rem;
    text-align: center;
    color:var(--headerText);
    text-shadow: 0.05rem .05rem .2rem rgba(0,0,0,0.8);;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
    text-align: center;
}

.site-main .site-banner .site-title{
    background: var(--bannerBackground);
    -webkit-backdrop-filter: blur(.5rem);
	backdrop-filter: blur(.5rem);
    box-shadow: var(--box-shadow);
    border-radius: 0px 0px 1rem 1rem;
}

.site-main .site-banner .site-buttons{
    margin-bottom: 2rem;
}

.site-main .site-banner .banner-image > img{
    border-radius: 50%;
    width:20rem;
    border: 1rem solid var(--headerText);
    display: block;
    margin: auto;
    margin-top: 8rem;
}

/* end of banner */

/* start Identity Area */
.site-main .identityVision{
    padding: 0.5rem 5rem;
}

.about-title h2{
    display: block;
    font:normal 49px/60px var(--rubik);
    padding-top: 0;
    margin-top:0;
}

.about-title .paragraph > p{
    padding: .2rem 0;
}

/* end idenitty area */

/*Projects Area*/
thumbnail-wrap{
    position: relative;
    display:inline-block;
}

.project-thumbnail{
    position:relative;
    display: flex;
    justify-content: center;
    width:100%;
    margin-bottom: 1rem;
    cursor: pointer;
    vertical-align: bottom;
    transition: .4s;
}

.thumbnail-wrap:hover .project-thumbnail{
    display: none;
}

.project-thumbnail-hover{
    position:relative;
    top:0;
    display: flex;
    justify-content: center;
    width:100%;
    margin-bottom: 1rem;
    cursor: pointer;
    vertical-align: bottom;
    display:none;
    transition:.4s;

}
.thumbnail-wrap:hover .project-thumbnail-hover{
    box-shadow: var(--box-shadow);
    display:block;
}



/*
font-family: 'Rubik', sans-serif;
    background: black;
    color:#FF8427;
    margin:0;
    padding:0.5rem;
    padding-left:2rem;
    font-size: 4rem;
*/
.btn-orange {
    background-color: #FF8427;
    border: 0;
    color: white;
    
    font-size: 3rem;
    font-weight: 500;
    line-height: 5rem;
    
    width: 50rem;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    

    display:block;
    margin:auto;
}
.btn-orange:active {
     background-color: #FF925E;
}

