body{
	margin:0;
	background-color: #596831
	font-size: 0;
}
h1{
	color: white;
	margin-top: 0;
	margin-bottom: 0.5rem;
    font-family: sofia-pro,Century Gothic,sans-serif;
	font-size: 35pt;
    font-weight: 700;
    line-height: 1.3;
	text-align: center;
	background-color: #596831;
	
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 25px;
	padding-left: 30px;
}
div{
	background-color: white;
}

.pageBottom{
	background-color: #596831;
}

p{
	color:black;
	background-color: white;
	font-family: sofia-pro,Century Gothic,sans-serif;
	letter-spacing: -.17px;
    word-spacing: -0.1px;
	font-size: 16pt;
	line-height: 1.5!important;
    font-weight: 300;
	
	margin-top: 0;
	padding-top: 0px;
	padding-bottom: 25px;
	padding-left: 30px;
	padding-right: 30px;
	
	
}
video{
	filter: url(#protanopia);
}

.center {
	padding-top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

.child {
  position: absolute;
  top: 0;
}

.progress-container {
  margin: auto;
  height: 1.5vh;
  width: 90vw;

  background: #D2D2D2;
}

.progress-container .progress {
  height: 100%;
  width: 0;
  border-radius: 0.4rem;

  background: #EA5B19;
}
.progress-container .progressLion {
  margin-top: -1.5vh;
  height: 100%;
  width: 0;
  border-radius: 0.4rem;

  background: #FCCF4D;
}

.lionIcon {
	position:relative;
	width: 6vh;
	height: 6vh;
	top: -2vh;
	left: -10vw;
}
.playerIcon {
	position:relative;
	width: 4vh;
	height: 4vh;
	top: -1.5vh;
}
.finish{
	position:relative;
	width:5vw;
	height: 1.5vh;
	left: 90vw;
	top:-1.5vh;
}
